body {
    font-family: Arial, Helvetica, sans-serif;
  }


/* Header */
.flex-container-desktop-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
  }

.flex-container-mobile-header {
    display: none;
}

header {
    color: gray;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 64px;
    background-color: white;
    align-items: center;
}

header img {
    margin-left: 24px;
    margin-top: 6px;
    height: 48px;
}

header h4 {
    margin-top: 6px;
}

header .span-bold {
    font-weight: bold;
}

header .span-light {
    font-weight: 200;
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 24px;
  }

nav a {
    padding-left: 16px;
    color: gray;
}

@media only screen and (max-width: 700px) {
    .flex-container-desktop-header {
        display: none;
    }

    .flex-container-mobile-header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        top: 0;
    }

    header img {
        margin: 0;
        margin-top: 6px;
        height: 40px;
    }
}


/* Intro Session*/

#intro {
    background-color: lightgray;
}

.intro-flex-container {
    margin-top: 69px;
    display: flex;
}

.intro-image-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 32px 24px 32px 24px;
}

.intro-image-container img{
    display: block;
    width: 100%;
} 

.intro-word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 24px;
    width: 40%;
}

.button {
    width: 100%;
    padding: .5rem 0;
    background-color: darkgray;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 700px) {

    .intro-flex-container {
        margin-top: 69px;
        display: flex;
        flex-direction: column;

    }

    .intro-image-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .intro-word-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0px;
        width: 100%;
        padding: 16px 24px;
    }

    

}



/* Blog Session */
#blog {
    background-color: whitesmoke;
}

.blog-flex-container {
    display: flex;
}

.blog-left-container {
    width: 60%;
    padding: 32px 24px 32px 24px;
    border-right: 2px solid darkgray;
}

.blog-image-container {
    display: flex;
    flex-direction: column;
}

.blog-left-container h2 {
    padding: 32px 0 24px 0;
    font-weight: bold;
}


.blog-right-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 32px 0;
}

.blog-box-container {
    border-bottom: 2px solid darkgray;
    display: flex;
    padding: 16px 0 16px 16px;
}

.blog-box-container:first-child {
    padding-top: 0;
}


.blog-box-container:last-child {
    border-bottom: none;
    background-color: lightgray;
}

.blog-box-image-container {
    width: 35%;
}

.blog-box-image-container .mobile {
    display: none;
}

.blog-box-image-container img {
    display: block;
    width: 100%;
}

.blog-box-word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding: 0 20px;
}


@media only screen and (max-width: 700px) {

    .blog-left-container {
        display: none;
    }

    .blog-right-container {
        display: flex;
        width: 100%;
        padding: 0;
    }

    .blog-box-container {
        border-bottom: none;
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .blog-box-container:first-child {
        padding-top: 16px;
    }
    
    .blog-box-container:last-child {
        border-bottom: 2px solid darkgray;
        background-color: whitesmoke;
    }

    .blog-box-image-container .desktop {
        display: none;
    }

    .blog-box-image-container .mobile {
        display: flex;
    }

    .blog-box-image-container {
        width: 100%;
    }

    .blog-box-word-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 32px 16px;
    }
}



/* Card Session */
#learncard {
    background-color: thistle;
    padding-bottom: 16px;
}

#learncard .learncard-title {
    text-align: center;
    padding: 32px 0;
    margin-bottom: 0;
}

.learncard-row {
    margin: 0 56px;
    display: flex;
    flex-direction: row;
}

.learncard-card {
    /*flex-basis: 33%;*/
    flex: 1;
    margin: 16px;
}

.learncard-card-img-container {
    overflow: hidden;
}

.learncard-card-img-container img {
    display: block;
    width: 100%;
    height: auto;
}

.learncard-card-word-container {
    /*height: 60%;*/
    background-color: white;
    padding: 16px 16px 24px 16px;
}

@media only screen and (max-width: 700px) {
    
    .learncard-card-img-container {
        display: none;
    }

    .learncard-card-word-container p {
        display: none;
    }

    .learncard-row {
        margin: 0 16px;
        display: flex;
        flex-direction: column;
    }

    .learncard-card {
        margin: 8px;
    }

    .learncard-card-word-container h5 {
        margin: 0;
    }

    .learncard-card-word-container {
        background-color: lightgrey;
        padding: 16px 16px 24px 16px;
    }

}



/* Exhibit */
.exhibit-flex-outer-container {
    background-color: whitesmoke;
}

.exhibit-title {
    padding: 32px 0;
    text-align: center;
}

.exhibit-flex-inner-container {
    display: flex;
}

.exhibit-left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0 24px 32px 24px;
}

.exhibit-video-container video {
    display: block;
    width: 100%;
}

.exhibit-left-container h5 {
    margin: 24px 0 8px 0;
}

.exhibit-right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.exhibit-box-container {
    display: flex;
}

.exhibit-box-container:first-child {
    background-color: lightgray;
    display: flex;
}

.exhibit-box-image-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: 16px;
}

.exhibit-box-image-container img {
    display: block;
    width: 100%;
}

.exhibit-box-word-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 16px;
}


@media only screen and (max-width: 700px) {
    .exhibit-right-container {
        display: none;
    }

    .exhibit-left-container h5,
    .exhibit-left-container p {
        display: none;
    }

    .exhibit-left-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }



}








/* Footer */
footer {
    background-color: whitesmoke;
    border-top: 2px solid darkgray;
    padding: 16px 24px 40px 24px;
}
.left-foot {
    float: left;
}

.right-foot {
    float: right;
}




